.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollbar{
    overflow-y: scroll;
}

.hidden-scrollbar{
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.equation{
    font-size: small;
}

div.equation{
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    text-decoration: underline;
}
